@font-face {
    font-family: 'Grandis';
    src:url('./assets/grandis/Grandis-Medium.woff2') format('woff2');
    /* url('./assets/grandis/Grandis-Medium.woff2') format('woff2'); */
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Grandis', sans-serif;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;
