@font-face {
    font-family: 'grandis';
    src: url('./assets/grandis/Grandis\ Black.otf') format('otf'),
         url('./assets/grandis/Grandis\ Bold.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  }
  